<div class="panel-heading" id='editor-driver-control-panel'>
    <div class='row'>
        <div class='col-xs-4'>
            <div class='editor-driver-operation-presentation'>
                <span class="editor-driver-icon"></span>
                <span class="editor-driver-text"></span>
            </div>
        </div>
        <div class='col-xs-2'>
            <div class='editor-driver-lock-state'>
                <span class="editor-driver-icon"></span>
                <span class="editor-driver-text"></span>
            </div>
        </div>
        <div class='col-xs-2 editor-driver-other-locks'>
        </div>
        <div class='col-xs-4'>
            <div class='btn-group pull-right'>
                <button class="btn btn-fill btn-sm btn-primary editor-driver-edit-button">
                    <span class='glyphicon glyphicon-unchecked'></span> Edytuj
                </button>
                <button class="btn btn-fill btn-sm btn-primary editor-driver-save-button">
                    <span class='glyphicon glyphicon-floppy-disk'></span> Zapisz
                </button>
            </div>
        </div>
    </div>
</div>
