<article class="progress-single progress-foldable folded">
    <section class="progress-single-info">
        <div class="progress-single-label">Zadanie</div>
        <div class="progress-single-date-wrap">
            <span class="progress-single-date-label">odwiedzone</span>
            <span class="progress-single-date"><%= date %></span>
        </div>
    </section>

    <section class="progress-single-header">
        <div class="progress-single-problem-wrap">
            <div class="progress-single-problem-icon"></div>
            <div class="progress-single-problem"><%= problem %></div>
        </div>
        <div class="progress-single-read"><a href="<%= read_link %>"><span class="read-label">Czytaj</span></a></div>
    </section>

    <div class="progress-single-content"><%= content %></div>
</article>