<div class="arrow-navigation" data-component="bottombar-navigation">
    <div class="navigation-left arrow-navigation-left">
		<button class="left">
            <span class="wcag-hidden-inside">poprzedni moduł</span>
           {% comment %}<img src="{{ STATIC_URL }}reader/img/reader-nav-left.svg"/> {% endcomment %}
        </button>
	</div>
	<div class="navigation-right arrow-navigation-right">
		<button class="right">
            <span class="wcag-hidden-inside">następny moduł</span>
            {% comment %}<img src="{{ STATIC_URL }}reader/img/reader-nav-right.svg"/>{% endcomment %}
        </button>
	</div>
</div>