<div class="progress">
    <div class="progress-bar progress-bar-success publication-state-published" role="progressbar" style="width:0%"></div>
    <div class="progress-bar progress-bar-success publication-state-success" role="progressbar" style="width:0%"></div>

    <div class="progress-bar progress-bar-info publication-state-verifying" role="progressbar" style="width:0%"></div>
    <div class="progress-bar progress-bar-warning publication-state-processing" role="progressbar" style="width:0%"></div>
    <div class="progress-bar progress-bar-info publication-state-dependencies" role="progressbar" style="width:0%"></div>
    <div class="progress-bar progress-bar-warning publication-state-fetching" role="progressbar" style="width:0%"></div>
    <div class="progress-bar progress-bar-warning publication-state-stale" role="progressbar" style="width:0%"></div>

    <div class="progress-bar progress-bar-info publication-state-initial" role="progressbar" style="width:0%"></div>
    <div class="progress-bar progress-bar-info publication-state-ready" role="progressbar" style="width:0%"></div>
    <div class="progress-bar progress-bar-warning publication-state-sealed" role="progressbar" style="width:0%"></div>


    <div class="progress-bar progress-bar-danger publication-state-failed" role="progressbar" style="width:0%"></div>
    <div class="progress-bar progress-bar-danger publication-state-missing" role="progressbar" style="width:0%"></div>
    <div class="progress-bar progress-bar-danger publication-state-edited" role="progressbar" style="width:0%"></div>

    <div class="progress-bar publication-state-loading" role="progressbar" style="width:0%"></div>
</div>
