{% extends "editres/base.html" %}
{% load compress staticfiles %}

{% block title_block %}Usunięto zasób KZD{% endblock title_block %}

{% block main_content %}
    {% load addcss %}

    <div class="container">

    <h2>Usunięto zasób KZD</h2>

    <p class="bg-warning">Wybrany zasób został KZD usunięty.</p>

    <p>
        Zmiany będą widoczne na platformie (beta.)epodreczniki.pl za pewien czas.<br>
        Możesz teraz zamknąć tę zakładkę. 
    </p>

    </div>

{% endblock main_content %}

