<div class="pinbar-dropdown">
		<div class="pins-list">
			<div id='interactive-object-container'>

				<a id='pins-list-objects' class="objects hastip" title="Obiekty" href="#"><span class="wcag-hidden-inside">obiekty</span></a>
			</div>
			<div id='attachment-container'>

				<a id='pins-list-attachments' class="attachments hastip" title="Załączniki" href="#"><span class="wcag-hidden-inside">załączniki</span></a>
			</div>
			<div id='image-container'>

				<a id='pins-list-images' class="images hastip" title="Obrazy" href="#"><span class="wcag-hidden-inside">obrazy</span></a>
			</div>
			<div id='movie-container'>

				<a id='pins-list-video' class="video hastip" title="Filmy" href="#"><span class="wcag-hidden-inside">filmy</span></a>
			</div>
		</div>
</div>