<div class="tools-dropdown">
	<div class="tools-list">
		<button id="font_size_increase" class="font_size_btn hastip" title="Powiększ&nbspczcionkę" ><span class="wcag-hidden-inside">powiększ czcionkę</span></button>
		<button id="font_size_decrease" class="font_size_btn hastip" title="Pomniejsz&nbspczcionkę" disabled ><span class="wcag-hidden-inside">pomniejsz czcionkę</span></button>
		<button id="core_curriculum" class="core_curriculum hastip" title="Podstawa&nbspprogramowa"><span class="wcag-hidden-inside">podstawa programowa</span></button>
        <button id="license_switch" class="license_switch hastip" title="Włącz/wyłącz&nbsplicencje&nbspdla&nbspobiektu"><span class="wcag-hidden-inside">włącz wyłącz licencje dla obiektu</span></button>
		<button id="license" class="license hastip" title="Licencje"><span class="wcag-hidden-inside">licencje</span></button>
		<button id="contact_form" class="contact_form hastip" title="Kontakt"><span class="wcag-hidden-inside">kontakt</span></button>
	</div>
</div>
