{% extends 'auth_base.html' %}

{% block content %}
    <div class="register-main">
        <div class="relative-form">
            <div class="login-header">
                <p class="centered-line">Zapomniałeś hasła?</p>
            </div>
            <p class="centered-line">Podaj poniżej swój adres e-mail jeżeli uzupełniłeś go w swoim
                profilu (w innym przypadku nie zostanie wysłany e-mail z linkiem).</p>

            <form action="" method="post">{% csrf_token %}
                {{ form.email.errors }}
                {{ form.email }}

                <input class="login-button epo-login" type="submit" value="Zresetuj hasło"/>
            </form>

        </div>
    </div>

{% endblock %}
