{% extends 'auth_base.html' %}

{% block content %}
    <div class="login-main">
        <div class="relative-form">
            <div class="login-header">
                {% if validlink %}

                    <p class="centered-line">Proszę podać nowe hasło.</p>
                    </div>

                    <form action="" method="post">{% csrf_token %}
                        {{ form.new_password1.errors }}
                        <input id="id_new_password1" name="new_password1" type="password" placeholder="Nowe hasło">
                        {{ form.new_password2.errors }}
                        <input id="id_new_password2" name="new_password2" type="password" placeholder="Powtórz nowe hasło">

                        <input class="login-button epo-login" type="submit" value="Zmień moje hasło"/>
                    </form>

                {% else %}

                    <p>Link resetujący hasło jest już nieważny, prosze wygenerować ponownie zapytanie o zmianę
                        hasła.</p>
                    </div>
                {% endif %}

    </div>
    </div>

{% endblock %}
