<!DOCTYPE html>
{% load compress staticfiles %}
<html class="ie-zoom" lang="pl">
<head>

    {% block head %}
    {% endblock %}

    {% block stylesheets %}
        {% compress css %}
            <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}editres/less/bindery/all.less">
        {% endcompress %}
    {% endblock %}

    {% compress js %}
        <script src="{{ STATIC_URL }}common/js/libs/require.js"></script>
    {% endcompress %}
    {% compress js %}
        <script type="text/requirejs" src="{{ STATIC_URL }}editres/js/build/editres.js"></script>
    {% endcompress %}

</head>

<body>
    {% block topbar %}
    {% include "bindery/topbar.html" %}
    {% endblock %}

    {% block main_content %}
    {% endblock main_content %}

</body>
</html>
