{% block menu_header %}
<div>{% comment %}Ta część będzie różna w poszczególnych widokach{% endcomment %}
    <span>Nazwa aktywnej przestrzeni</span>
</div>
{% endblock %}

<ul class="menu" style="display: none;">
    <li class="ui-menu-item"><a>Nazwa przestrzeni 1</a></li>
    <li class="ui-menu-item"><a>Nazwa przestrzeni 2</a></li>
    <li class="ui-menu-item"><a>Nazwa przestrzeni 3</a>
        <ul>
            <li class="ui-menu-item"><a>Nazwa kolekcji 3-1</a></li>
            <li class="ui-menu-item"><a>Nazwa kolekcji 3-2</a></li>
            <li class="ui-menu-item"><a>Nazwa kolekcji 3-3</a></li>
            <li class="ui-menu-item"><a>Nazwa kolekcji 3-4</a></li>
        </ul>
    </li>
    <li class="ui-menu-item"><a>Nazwa przestrzeni 4</a></li>
    <li class="ui-menu-item"><a>Nazwa przestrzeni 5</a></li>
</ul>