{% load staticfiles compress requirejs extensions common_ext %}
{% block header %}
    <header id="main-header">
        {% block topbar %}
            <div id="topbar">
                <div class="topbar-inner">
                    {% block nav_left %}
                        <div class="logo-wrapper">
                            <a href="{% begin_start_page_url %}" class="logo" title="Powrót do strony głównej"></a>

                            {% block logo_separator %}
                                <div class="logo-separator"></div>
                            {% endblock %}
                        </div>

                        {% block topbar_title %}
                            <div id="topbar-title" class="title">e-podręczniki</div>
                        {% endblock %}
                    {% endblock %}

                    {% block nav-right %}
                        <nav class="right_navigation">

                            <a class="help-link" href="//www.{{ top_domain }}/reader/c/190307/v/latest/t/student-canon" title="Pomoc"><span class="icon-20"></span><span
                                class="icon-title">Pomoc</span></a>

                            {% block search_button %}
                                {% if not presentation.config.is_preview %}
                                    <button class="search" title="Szukaj" onclick="window.location.href='{% host_url "search" "classic_search" %}'"><span class="icon-20"></span><span
                                        class="icon-title">Szukaj</span>
                                    </button>
                                {% endif %}
                            {% endblock %}

                            {% block library_link %}
                                <a class="library-link" href="{% host_url 'www' 'front.views.new_index' education_level=2 %}" title="Biblioteka">
                                    <span class="icon-20"></span>
                                    <span class="icon-title">Biblioteka</span>
                                </a>
                            {% endblock %}

                            {% block epo_auth_hook %}
                                <div class="epo-auth-hook" title="Logowanie"></div>
                            {% endblock %}

                            {% block settings_button %}
                                <div class="settings-container" style="display: none">
                                    <button class="settings" title="Ustawienia">
                                        <span class="icon-20"></span>
                                    </button>
                                    <ul class="top-dropdown is-hidden">
                                        <li id="logout-hook">
                                            <button class="logout">wyloguj</button>
                                        </li>
                                    </ul>
                                </div>
                            {% endblock %}

                            {% comment %}<div style="display: none">
                                <a class="profile" style="display: none" href="#"></a>
                                <a class="login" href="{% url 'auth.views.epo_login' %}" style="display: none"
                                data-login-view={% url 'auth.views.epo_login' %}>
                                    <span class="icon-20"></span><span class="icon-title">Zaloguj</span>
                                </a>
                            </div>{% endcomment %}
                        </nav>
                    {% endblock %}
                </div>
                {% block profile_userbar %}
                {% endblock %}
            </div>
        {% endblock %}


    </header>
{% endblock %}
