{% comment %}
This template is not meant to be used directly, use tracker tag from trackers instead.
{% endcomment %}
<script type="text/javascript">
  var _paq = _paq || [];

  if(localStorage && localStorage['epo.user.type']){
      _paq.push(["setCustomVariable", 1, "userType", localStorage['epo.user.type'], "visit"]);
  }

  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://user.epodreczniki.pl/analytics/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "{{ tracker_code }}"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
