<div class="bottombar-navigation" data-component="bottombar-navigation" role="navigation">
    <div class="navigation-left">
		<button class="left active">
            <span class="wcag-hidden-inside">poprzedni moduł</span>
           {% comment %}<img src="{{ STATIC_URL }}reader/img/reader-nav-left.svg"/> {% endcomment %}
        </button>
	</div>
	<div class="navigation-right">
		<button class="right active">
            <span class="wcag-hidden-inside">następny moduł</span>
            {% comment %}<img src="{{ STATIC_URL }}reader/img/reader-nav-right.svg"/>{% endcomment %}
        </button>
	</div>
</div>