<article class="personal-note"
         data-url="">
    <div class="personal-note-color"></div>
    <div class="personal-note-text">
        <div class="personal-note-header">
            <span class="title">Moja notatka do <%= title %></span>
                                <span class="date"
                                      data-stamp=""><%= date %></span>
        </div>
        <div class="personal-note-content">
            <div class="personal-note-intro">
            </div>
            <div class="moar"></div>
            <div class="personal-note-more">
                <strong>kontekst notatki</strong>
                <em><%= value %></em>
            </div>
        </div>
    </div>
</article>