<p>
    Niniejsza publikacja, za&nbsp;wyjątkiem tych jej elementów, co do których wyraźnie zastrzeżono inaczej, zostaje
    udostępniona na zasadach licencji Creative Commons Uznanie Autorstwa 3.0 Polska, której pełny tekst dostępny jest
    pod adresem: <a href="http://creativecommons.org/licenses/by/3.0/pl/legalcode" target="_blank" title="łącze do licencji">link do licencji</a>.
</p>

<p class="copyright">
    <a href="#"><span class="icon"></span> <% if(hasLic) { %>Pokaż szczegóły licencji<% }else{ %>Ukryj szczegóły
        licencji<% } %> </a>
</p>
