
<section class="details123-authors-section">
    <section class="authors-group">
    <h2>Grupa Edukacyjna S.A.</h2>
    <h3>Autorzy</h3>
    <p>Autor podręcznika: Marzena Czarnowska-Mazurek, Grażyna Śliwa, Balbina Piechocińska</p>
    <p>Autor dostosowania treści multimedialnych: Janusz Piechociński</p>
    <p>Fabuła podręcznika: Jacek Rembiś</p>

    <h3>Rzeczoznawcy Ministerstwa Edukacji Narodowej</h3>
    <p>Rzeczoznawca merytoryczno-dydaktyczny: dr Beata Oelszlaeger-Kosturek, dr Katarzyna Kochan</p>
    <p>Rzeczoznawca językowy: dr Ewa Ogłoza, mgr Maria Gudro-Homicka</p>
    <p>Recenzent wymagań odnoszących się do podręczników w postaci elektronicznej: mgr Lech Kłosowski</p>

    <h3>Zespół zarządzania projektem</h3>
    <p>Prezes Zarządu: Seweryn Kubicki, Piotr Treszczotko</p>
    <p>Koordynator projektu: Dariusz Dąbek, Edyta Kraska</p>
    <p>Manager projektu: Anna Adamska</p>
    <p>Manager merytoryczny: Ewelina Włodarczyk, Krzysztof Chrobot, Marzena Siekierko</p>
	<p>Dyrektor ds. rozwoju IT: Marek Kubicki</p>
    <p>Specjalista ds. kontroli wewnętrznej: Grzegorz Kowalski</p>
    <p>Asystent projektu: Joanna Bracik, Dominika Gawrońska, Jowita Stachura-Jakóbik</p>
    <p>Ekspert ds. Multimediów: Tomasz Kocot, Leszek Gołuchowski</p>
    <p>Specjalista ds. rozliczeń i sprawozdawczości: Aleksandra Palmąka</p>

    <h3>Redakcja merytoryczna i multimedialna</h3>
    <p>Kierownik zespołu redaktorów merytorycznych: Ewelina Włodarczyk</p>
    <p>Kierownik zespołów redaktorów multimedialnych i merytorycznych: Agnieszka Opala, Małgorzata Różańska-Foks</p>
    <p>Redaktor merytoryczny i multimedialny: Małgorzata Różańska-Foks</p>
    <p>Redaktor merytoryczny: Ewa Dulemba, Tamara Machnik, Mateusz Pustuła, Andrzej Pustuła, Sylwia Gorczyca, Katarzyna Ślusarz</p>
    <p>Redaktor multimedialny: Anna Banaś, Justyna Kubicka, Aleksandra Ziewiecka, Katarzyna Kwiatkowska, Iza Parlicka</p>
    <p>Główny redaktor językowy: Krystyna Bajor</p>
    <p>Redaktor językowy: Joanna Kozub, Marek Kornacki, Beata Pędziwilk</p>
    <p>Redaktor ds. specjalnych potrzeb edukacyjnych, WCAG i równych szans: Adam Pietrasiewicz</p>

    <h3>Redakcja techniczna</h3>
    <p>Redaktor techniczny: Grzegorz Wrzecionowski, Paweł Kowalski</p>

    <h3>Prawo autorskie</h3>
    <p>Specjalista do spraw prawa autorskiego: Marek Putowski, Magdalena Zawadzka, Katarzyna Wilk, Aneta Stępień</p>

    <h3>Grafika i fotoedycja</h3>
    <p>Kierownik Zespołu Grafików i Fotoedytorów: Magdalena Sarnot-Wrzecionowska</p>
    <p>Grafik: Grzegorz Wrzecionowski, Tomasz Kozłowski, Agnieszka Serwicka, Marcin Kot</p>
    <p>Ilustracje 2D: Anna Nowocińska-Kwiatkowska, Daria Frączkiewicz</p>
    <p>Fotoedytor: Milena Kot, Michał Maciążek</p>

    <h3>Desktop publishing</h3>
    <p>Specjalista DTP: Paweł Kowalski</p>

    <h3>Programiści zadań interaktywnych</h3>
    <p>Kierownik zespołu informatyków: Marcin Malec</p>
    <p>Programista zadań interaktywnych: Jerzy Woźniak, Paweł Szczytowski, Tomasz Żońca, Radosław Wojtachnio, Marcin Zapała, Michał Banasik, Magdalena Pabian, Mariusz Pabian</p>

    <h3>Montaż</h3>
    <p>Montażysta: Krzysztof Gizka, Norbert Kociełkiewicz</p>
    <p>Specjalista ds. multimediów: Magdalena Lech</p>

    </section>

    <section class="authors-group">
    <h2>Platige Image</h2>
    <p>Producent wykonawczy: Arkadiusz Dorynek, Jarosław Sawko, Marcin Kobylecki</p>
    <p>Producent: Agnieszka Piechnik</p>

    <h3>Zespół kreatywny/Fish Ladder</h3>
    <p>Producent kreatywny: Marcin Kobylecki</p>
    <p>Art director: Jakub Jabłoński</p>
    <p>Fabuła wsparcie: Krzysztof Noworyta</p>

    <h3>Ilustracje i animacje 3D</h3>
	<p>Art director: Jakub Jabłoński</p>
    <p>CG supervisor: Tomasz Sawiński, Michał Gryn</p>
    <p>CG supervisor (2D): Urszula Kominek</p>
    <p>Producent: Urszula Kominek, Agnieszka Piechnik</p>

    <h3>Ilustracje zespół 2D</h3>
        <p>Projekt postaci: Jakub Jabłoński</p>
        <p>Senior concept artist: Marcin Panasiuk</p>
        <p>Koncepty: Artur Sadłos, Michał Matczak, Adrianna Głowacka</p>
        <p>Artyści 2D: Marcin Leśniak, Filip Myszkowski, Janusz Wyrzykowski, Michał Sawtyruk, Karolina Panasiuk, Adam Trędowski</p>
        <p>Wsparcie 2D: Bartosz Ziębiński, Maja Bulwarska-Komar, Bartek Witulski, Oleh Ridzel, Szymon Kuczmierczyk</p>

        <h3>Ilustracje zespół 3D</h3>
        <p>Modele postaci: Robert Kudera, Mariusz Samson, Szymon Kaszuba, Artur Owśnicki, Tomasz Wróbel, Klaudiusz Wesołowski</p>
        <p>Prowadzenie zespołu modeli scenografii: Michał Gryn</p>
        <p>Modele scenografii: Robert Kudera, Hubert Zegardło, Mariusz Samson, Daniel Kłos, Łukasz Świerczyński, Artur Malczyk, Arkadiusz Piwiec, Piotr Forkasiewicz</p>
        <p>Tekstury: Maciej Bugajski, Tomasz Zaborek</p>
        <p>Rigi: Mateusz Kruczała, Łukasz Salabura, Maciej Wojtyna</p>
        <p>Pozowanie postaci: Maciej Pietras, Oleh Ridzel, Krzysztof Rusinek</p>
        <p>Pozowanie postaci - wsparcie: Błażej Andrzejewski</p>
        <p>Prowadzenie zespołu oświetlenia i renderingu: Michał Gryn</p>
        <p>Oświetlenie i rendering: Arkadiusz Piwiec, Krzysztof Dębski, Mariusz Giętkowski, Michał Witek, Krzysztof Olszewski</p>
        <p>Kompozycja: Dawid Kopestyński</p>

        <h3>Ilustracje i animacje 3D</h3>
        <p>Koordynator: Monika Paćkowska</p>
        <p>Wsparcie pipeline: Michał Krupa, Adrianna Pawłowska</p>
        <p>Asystent produkcji: Sylwia Bujno, Maja Bulwarska-Komar</p>

        <h3>Animacja Zgrzyciaki intro</h3>
        <p>Reżyser: Jakub Jabłoński</p>
        <p>Art director: Jakub Jabłoński</p>
        <p>Scenariusz: Jacek Rembiś, Jakub Jabłoński</p>
        <p>Script doctoring: Rafał Kosik, Katarzyna Sienkiewicz-Kosik</p>
        <p>Muzyka: Łukasz Rostowski</p>
        <p>Reżyser animacji: Dominik Wawrzyniak</p>
        <p>CG supervisor: Tomasz Sawiński</p>
        <p>Producent: Urszula Kominek</p>
        <p>Storyboard: Michał Niewiara</p>
        <p>Layout: Dominik Wawrzyniak, Michał Kaleniecki, Anna Szustak</p>
        <p>Prowadzenie zespołu scenografii: Michał Gryn</p>
        <p>Scenografia: Robert Kudera, Hubert Zegardło</p>
        <p>Modele postaci: Robert Kudera, Mariusz Samson, Szymon Kaszuba, Artur Owśnicki, Tomasz Wróbel, Klaudiusz Wesołowski</p>
        <p>Tekstury: Maciej Bugajski, Tomasz Zaborek</p>
        <p>Rigi: Mateusz Kruczała, Łukasz Salabura, Maciej Wojtyna, Michał Gamrat</p>
        <p>Animacja: Oleh Ridzel, Juan Diego Liza</p>
        <p>Prowadzenie zespołu oświetlenia i renderingu: Michał Gryn, Tomasz Sawiński</p>
        <p>Oświetlenie i rendering: Robert Kudera, Hubert Zegardło, Krzysztof Olszewski, Arkadiusz Piwiec, Krzysztof Dębski, Michał Witek</p>
        <p>Kompozycja: Dennis Nikolayenia</p>
        <p>Kompozycja - wsparcie: Dawid Kopestyński</p>
        <p>Kolor korekcja: Piotr Sasim</p>
        <p>DI: Piotr Dutkiewicz</p>
        <p>Obsada / głosy: Paweł Ciołkosz, Agnieszka Mrozińska</p>
        <p>Postprodukcja dźwięku / sfx: Michał "Jurgen" Jaroszewicz, Michał "Mały" Perkowski</p>
        <p>Podziękowania: Rafał Kidziński, Grzegorz Kukuś, Rafał Kosik, Tomek Bagiński</p>

        <h3>Edukacyjne animacje 3D</h3>
        <p>Reżyser: Eshter Lengyel</p>
        <p>Scenariusz: Jacek Rembiś</p>
        <p>Muzyka: Radzimir Łabuś</p>
        <p>CG supervisor: Tomasz Sawiński</p>
        <p>Storyboard: Oleh Ridzel</p>
        <p>Storyboard wsparcie: Maja Bulwarska-Komar</p>
        <p>Animacja: Maciej Pietras, Błażej Andrzejewski</p>
        <p>Oświetlenie i rendering: Michał Gryn, Arkadiusz Piwiec, Krzysztof Olszewski, Michał Witek</p>
        <p>Kompozycja: Dennis Nikolayenia</p>
        <p>Obsada / głosy: Paweł Ciołkosz, Agnieszka Mrozińska</p>
        <p>Postprodukcja dźwięku (Juice) / produkcja: Katarzyna Kowalczyk, Maia Sobczak</p>
        <p>Postprodukcja dźwięku (Juice) / sfx: Michał "Jurgen" Jaroszewicz, Michał "Mały" Perkowski</p>

        <h3>User interface</h3>
        <p>Creative director (Futu): Wojciech Ponikowski</p>
        <p>Producent: Agnieszka Piechnik</p>
        <p>Kierownik produkcji (Futu): Marika Krystman</p>
        <p>User interface & icons: Adam Banaszek</p>
        <p>Layout design: Michał Porwol</p>

        <h3>Typografia</h3>
        <p>Typografia: Jan Estrada Osmycki</p>

        <h3>Zdjęcia</h3>
        <p>Producent: Agnieszka Piechnik</p>
        <p>Kierownik produkcji: Michał Zieliński</p>
        <p>Fotograf: Michał Zieliński, Robert Mosoń, Damian Bednarz, Radosław Kaźmierczak, Hubert Gajda, Łukasz Łukasik, Łukasz Sokołowski, Cezary Korkosz, Michał Skałba, Marek Kosiński, Tomasz Wilk, Szymon Tarociński, Mirosław Wantoch-Rekowski, Bogumiła Łuszczek-Siuda, Kamil Molendys, Arkadiusz Ziółek</p>
        <p>Asystent produkcji: Karolina Jankiewicz, Sylwia Bujno</p>
        <p>Podziękowania: Elżbieta Guzik, Helena Krysa, Iwona Matkowska, Adrian Furman</p>

        <h3>Filmy edukacyjne</h3>
        <p>Scenariusz i reżyseria: Magdalena Kikowska-Czepiec, Magdalena Karst-Adamczyk, Milena Ratajczak</p>
        <p>Reżyseria i wykonanie 2D: Karolina Panasiuk</p>
        <p>Scenariusz: Jan Pomierny, Marcin Sadowski, Agnieszka Piechnik</p>
        <p>Producent: Agnieszka Piechnik</p>
        <p>Kierownik produkcji: Magdalena Kikowska-Czepiec, Magdalena Karst-Adamczyk, Milena Ratajczak</p>
        <p>Zdjęcia: Marcin Szarłacki, Szymon Szulc, Łukasz Balcerzak</p>
        <p>Montaż: Marcin Szarłacki, Szymon Szulc, Paweł Żydowicz</p>
		<p>Montaż wsparcie: Adam Kałuski</p>
        <p>Motion design: Karolina Panasiuk</p>
        <p>Muzyka: Radzimir Łabuś</p>
        <p>Lektor: Michał "Jurgen" Jaroszewicz, Agnieszka Mrozińska</p>
        <p>Efekty dźwiękowe: Bartosz Jaworski</p>
        <p>Postprodukcja dźwięku (Juice) / produkcja: Katarzyna Kowalczyk, Maia Sobczak</p>
        <p>Postprodukcja dźwięku (Juice) / sfx: Michał "Jurgen" Jaroszewicz, Michał "Mały" Perkowski</p>
        <p>Podziękowania: Paweł Zieliński, Karol Szmit</p>

        <h3>Nagrania dźwiękowe</h3>
        <p>Producent: Anna Skorupska, Agnieszka Piechnik</p>
        <p>Kierownik produkcji: Maia Sobczak, Katarzyna Kowalczyk, Sylwia Bujno</p>
        <p>Lektor: Paweł Ciołkosz, Agnieszka Mrozińska-Jaszczuk</p>
        <p>Postprodukcja dźwięku (Juice) / sfx: Michał "Jurgen" Jaroszewicz, Michał "Mały" Perkowski</p>
        <p>Podziękowania: Jakub Pietrzak</p>
		
		<h3>Pozostały zespół</h3>
		<p>Wsparcie prawne: Aleksander Przywara</p>
		<p>IT: Tomasz Kruszona, Piotr Getka, Łukasz Olewniczak, Jakub Dąbrowski, Tomasz Zając</p>
		<p>Wsparcie techniczne: Adam Kałuski, Maciej Żak, Maciej Niemirski, Piotr Janisiewicz, Michał Własiuk</p>
		<p>Księgowość: Anna Zegarłowicz, Joanna Pągowska, Małgorzata Słomka, Aleksandra Zegarłowicz, Katarzyna Bujno</p>		
     </section>

	 <section class="authors-group">
        <h2>Juice.</h2>
		<h3>Nagrania dźwiękowe</h3>
		<p>Kierownik produkcji: Maia Sobczak</p>
		<p>Lektor: Paweł Ciołkosz, Agnieszka Mrozińska-Jaszczuk, Rafał Mohr</p>
		<p>Realizacja: Bartek Baranowski</p>
		<p>Kompozytor: Jacek Opiełka</p>	
	</section>
	 

    <section class="authors-group">
        <h2>Media Format Sp. z o.o.</h2>
        <h3>Filmy edukacyjne</h3>
        <p>Producent: Anna Żamojda-Rak</p>
        <p>Kierownik produkcji: Małgorzata Barcz-Wadas, Adrian Skwiercz</p>
        <p>Asystent produkcji: Kasper Jabłoński</p>
        <p>Reżyser: Anna Żamojda-Rak, Kasper Jabłoński</p>
        <p>Scenariusz: Anna Żamojda-Rak, Paweł Sawicki</p>
        <p>Zdjęcia: Maciej Szczerbicki, Jakub Kowalczyk, Michał Gruszczyński, Mariusz Orzechowski, Jakub Sobótka</p>
        <p>Realizacja dźwięku: Michał Potocki, Marcin Kotwa, Jerzy Potocki, Krzysztof Baradziej, Michał Burbicki</p>
        <p>Współpraca scenograficzna: Katarzyna Barcz</p>
        <p>Oprawa graficzna: Rafał Szymański, Anna Witwicka</p>
        <p>Montaż: Anna Żamojda-Rak, Paweł Hejbudzki, Jacek Rządca</p>

    </section>
</section>