<section class="progress-content-wrap profile-content-wrap" xmlns="http://www.w3.org/1999/html">
    <aside>
        <section class="aside-toolbar">
            <section class="aside-filters-toggle">
                <div class="aside-filters-toggle-button">
                    <span>pokaż filtry wyszukiwania</span>
                </div>
            </section>
            <section class="aside-filters-foldable">
                <section class="aside-filters-content">
                    <section class="aside-filters-column">
                        <p class="aside-header">
                            Przedmiot:
                        </p>

                        <div class="profile-dropdown subject-dropdown">
                            <select name="progress_subject_select" id="progress_subject_select">
                                <option value="all">Wszystkie</option>
                                {% for subject in subjects %}
                                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <p class="aside-header">
                            Kolejność:
                        </p>

                        <div class="profile-dropdown order-dropdown">
                            <select name="progress_order_select" id="progress_order_select">
                                <option value="latest">Od najnowszych</option>
                                <option value="oldest">Od najstarszych</option>
                                <option value="asc">A - Z</option>
                                <option value="desc">Z - A</option>
                            </select>
                        </div>
                    </section>
                    <section class="aside-filters-column">
                        <p class="aside-header">
                            Data:
                        </p>

                        <div class="profile-date-container">
                            <div class="profile-date-element"><label for="profile-progress-date-start">Od </label><span><input
                                    id="profile-progress-date-start" class="field-date-value" type="text"></span></div>
                            <div class="profile-date-element"><label
                                    for="profile-progress-date-end">Do </label><span><input
                                    id="profile-progress-date-end" class="field-date-value" type="text"></span></div>
                        </div>
                    </section>
                </section>
            <section class="aside-filters-buttons">
                        <!--button class="filter-button" id="do-filtering">Filtruj</button-->
                        <button class="filter-button" id="progress-clear-filter">Wyczyść filtr</button>
                    </section>
            </section>
        </section>
    </aside>

    <section class="progress-container profile-container">
        <section class="progress-list" data-url-pattern="{{ reader_url_pattern }}">
            <h2>Pytania otwarte</h2>
        </section>
    </section>
</section>