 <section class="stats-content-wrap profile-content-wrap" xmlns="http://www.w3.org/1999/html">
            <aside>
                <section class="aside-toolbar">
                    <p class="aside-header">
                    </p>

                </section>
            </aside>

            <section class="stats-container profile-container">
                <section class="stats-list" data-url-pattern="{{ reader_url_pattern }}">
                    <br/>
                    <div class="stats-chart">
                        <svg class="chart"></svg>
                    </div>
                    <div class="stats-legend">
                    </div>
                </section>
            </section>
        </section>
