<div class="row cascade-forms-first-marker">
    <div class="col-md-5">
        <strong>Wykonaj wybrane operacje</strong>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary btn-info btn-sm cascade-forms-all btn-sm" title="Uruchom pieczętowanie">
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-6">
        <button class='btn btn-danger pull-right btn-xs cascade-forms-cancel-button'>
            <span class='glyphicon glyphicon-remove'></span> Anuluj
        </button>
    </div>
</div>
