<div class="row cascade-forms-action editres-row-spaced">
    <div class="col-md-1">
        <button type='button' class='cascade-forms-checkbox btn btn-default btn-sm' ><span class='glyphicon'></span></button>
    </div>
    <div class="col-md-4">
        <div class='cascade-forms-description'>
        </div>
        <div class='cascade-forms-fields'>
        </div>
    </div>
    <div class="col-md-1 cascade-forms-submit-container">
    </div>
    <div class="col-md-1 cascade-forms-indicator">
        <span class="glyphicon"></span>
    </div>
    <div class="col-md-4 ">
        <div class="cascade-forms-message">
        </div>
        <div class="cascade-forms-progress progress" style='display: none'>
            <div class="progress-bar" role="progressbar" style="width: 0%">
            </div>
        </div>
    </div>
</div>
