<form class="form-horizontal" role="form">
	<div class="form-group">
	    <div class="col-sm-7">
			<select class="form-control" id="actorslist" multiple class="form-control">
			</select>
		</div>
		<div class="col-sm-5">
			<!-- <p><input type="text" class="form-control" id="userid-input" placeholder="id"></p> -->
			<p><input type="text" class="form-control" id="firstname-input" placeholder="Imię"></p>
			<p><input type="text" class="form-control" id="surname-input" placeholder="Nazwisko"></p>
			<p><input type="text" class="form-control" id="fullname-input" placeholder="Pełna nazwa"></p>
			<p><input type="text" class="form-control" id="email-input" placeholder="e-mail"></p>
			<p><button type="button" class="btn btn-default" id="addActorButton">Dodaj nowego autora</button></p>
			<p><button type="button" class="btn btn-default" id="deleteActorButton">Usuń zaznaczonego</button></p>
		</div>
  </div>
</form>