<form class='form-horizontal' role='form'>
    <div class='form-group'>
        <label for='editcoll-newModuleId-input' class='col-sm-2 control-label'>Identyfikator</label>
        <div class='col-sm-6'>
            <input type=text' readonly class='form-control' id='editcoll-newModuleId-input' placeholder='Identyfikator'>
        </div>
    </div>
    <div class='form-group'>
        <label for='editcoll-newModuleVersion-input' class='col-sm-2 control-label'>Wersja</label>
        <div class='col-sm-6'>
            <input type=text' readonly class='form-control' id='editcoll-newModuleVersion-input' placeholder='Wersja'>
        </div>
    </div>
    <div class='form-group'>
        <div class='col-sm-2'>
        </div>
        <div class='col-sm-6'>
            <button type='button' class='btn btn-default' id='moduleSearchButton'>Wyszukaj</button>
            <button type='button' class='btn btn-default' id='createModuleButton' data-cascade-forms-container-id="create-section">Stwórz nowy</button>
        </div>
    </div>

    <div class="well" id="create-section" style="display: none">
    </div>
</form>
