<form class="form-horizontal" role="form">
	<div class="form-group">
	    <div class="col-sm-6">
			<select class="form-control" id="level-list" multiple class="form-control">
			</select>
		</div>
		<div class="col-sm-5">
			<p><input type="text" class="form-control" id="level-input" placeholder="Nazwa nowego etapu"></p>
			<p><button type="button" class="btn btn-default" id="addLevelButton">Dodaj nowy</button></p>
			<p><button type="button" class="btn btn-default" id="deleteLevelButton">Usuń zaznaczony</button></p>
		</div>
  </div>
</form>