<form class='form-horizontal' role='form'>
    <div class='form-group'>
        <label for='foundModuleId' class='col-sm-2 control-label'>Identyfikator</label>
        <div class='col-sm-6'>
            <input type=text' class='form-control' id='foundModuleId' placeholder='Identyfikator'>
        </div>
    </div>
    <div class='form-group'>
        <label for='foundModuleVersion' class='col-sm-2 control-label'>Wersja</label>
        <div class='col-sm-6'>
            <input type='text' class='form-control' id='foundModuleVersion' placeholder='Wersja'>&nbsp;<span style='color:red;' id='version-error'></span>
        </div>
    </div>
</form>