<form class="form-horizontal" role="form">
	<div class="form-group">
	    <div class="col-sm-6">
			<select class="form-control" id="viewAttrslist" multiple class="form-control">
			</select>
		</div>
		<div class="col-sm-6">
			<p><select class="form-control" id="viewAttr-input" class="form-control">
  				<option value="panorama" selected>panorama</option>
			  	<option value="icon">icon</option>
			  	<option value="matte-color">matte-color</option>
			</select></p>
			<p><input type="text" class="form-control" id="viewAttrId-input" placeholder="ID WOMI"></p>
			<p><input type="text" class="form-control" id="viewAttrValue-input" style='display:none;' placeholder="Wartość"></p>			
			
		
			<p><button type="button" class="btn btn-default" id="addViewAttrButton">Dodaj nowy atrybut widoku</button></p>
			<p><button type="button" class="btn btn-default" id="deleteViewAttrButton">Usuń zaznaczony atrybut</button></p>
		</div>
  </div>
</form>