div.search-box {
  #font: 10px sans-serif;
  #background-color: steelblue;
  text-align: center;
  padding: 10px;
  #margin: 1px;
  #color: white;
}

div.facets {
    padding: 16px
}

.search-input {
    height: 30px;
    width: 300px;
}

.panel-topless {

    margin-bottom: 10px;
    padding: 5px;
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

    border-top: 0px none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}
