<article class="note-single note-foldable-big">
    <div class="note-color note-color-<%= color %>"></div>
    <div class="note-header">
        <div class="note-single-header-wrap">
            <div class="note-single-module"><%= header %></div>
            <div class="note-single-header"><%= text %></div>
        </div>
        <div class="note-single-date"><%= date %></div>
        <div class="note-single-read"><a href="<%= read_link %>"><span class="read-label">Czytaj</span></a></div>
    </div>
    <div class="note-contents">
        <p><%= content %></p>
    </div>
</article>