{% extends "front/base_front_with_navbar.html" %}
{% load compress staticfiles common_ext collection_cover collections %}
{% block container %}

    <div id="template">
        <div class="theme fullscreen">
            <div class="content terms-template-content">

                <div class="container">

                    <h2> Lider projektu</h2>

                    <article>
                        <h4>Ośrodek Rozwoju Edukacji</h4>

                        <p>Ośrodek Rozwoju Edukacji jest publiczną placówką doskonalenia nauczycieli o zasięgu
                            ogólnokrajowym
                            prowadzoną przez Ministra Edukacji Narodowej. Celem Ośrodka jest podejmowanie i realizacja
                            działań
                            na
                            rzecz podnoszenia jakości edukacji zgodnie z polityką oświatową państwa w obszarze
                            kształcenia
                            ogólnego
                            i wychowania oraz zgodnie z wprowadzanymi zmianami w systemie oświaty.</p>

                        <a href="http://www.ore.edu.pl">www.ore.edu.pl</a>
                    </article>

                    <h2>Partner technologiczny</h2>
                    <article>
                    <h4>Poznańskie Centrum Superkomputerowo-Sieciowe (PCSS)</h4>

                    <p>jest pionem organizacyjnym jednostki naukowej – Instytutu Chemii Bioorganicznej Polskiej Akademii
                        Nauk. PCSS zostało założone w roku 1993 w celu zbudowania i rozwijania infrastruktury
                        komputerowej. Główne
                        obszary działalności PCSS to: utrzymanie i rozwój e-infrastruktury naukowej oraz inicjatywy
                        badawczo
                        rozwojowe z obszaru technologii informacyjno-komunikacyjnych i ich zastosowań. Obecnie zatrudnia
                        około 250
                        specjalistów w zakresie ICT. Jest liderem projektów dla edukacji takich jak dLibra, Pionier,
                        Platon.
                    </p>
                    <a href="http://www.pcss.pl">www.pcss.pl</a>
                    </article>

                    <h2>Partnerzy merytoryczni</h2>
                    <article>
                    <h4>Grupa Edukacyjna S.A.</h4>

                    <p>spółka działająca na rynku wydawniczym od 1989 r. Posiada bogatą ofertę wydawniczą, w tym m.in.:
                        podręczniki w
                        zakresie edukacji wczesnoszkolnej oraz inne edukacyjne publikacje specjalistyczne oraz
                        multimedia. W
                        związku z
                        rozwojem technologii informacyjno-komunikacyjnych, do oferty Grupy Edukacyjnej wprowadzone
                        zostały
                        nowoczesne
                        produkty elektroniczne, ułatwiające pracę nauczyciela, dyrekcji oraz efektywne funkcjonowanie
                        zarówno
                        szkoły,
                        jak i placówki przedszkolnej – tj. elektroniczny dziennik oraz e-learningowa platforma
                        edukacyjna.
                    </p>
                    <a href="http://www.grupaedukacyjna.pl">www.grupaedukacyjna.pl</a>
                    </article>

                    <article>
                    <h4>Uniwersytet Wrocławski</h4>

                    <p>jedna z najstarszych uczelni Europy Środkowej, która W 2002 roku świętowała 300-lecie. Publiczna
                        uczelnia
                        wyższa, zatrudniająca prawie 2000 nauczycieli akademickich. Obecnie kształci blisko 30 tys.
                        studentów na
                        44
                        kierunkach. Uczelnia posiada duże doświadczenie związane z realizacją projektów
                        współfinansowanych z
                        funduszy
                        strukturalnych.</p>

                    <a href="http://www.uni.wroc.pl">www.uni.wroc.pl</a>
                    </article>
                    <article>
                    <h4>Uniwersytet Przyrodniczy we Wrocławiu</h4>

                    <p>publiczna uczelnia wyższa, specjalizująca się w naukach przyrodniczych, która obecnie zatrudnia
                        1,6
                        tys.
                        pracowników, w tym połowa to nauczyciele akademiccy, kształci ok. 10,4 tysięcy studentów.
                        Rocznie
                        Uniwersytet
                        prowadzi ponad 240 projektów badawczych oraz wydaje 750 tytułów   publikacji. Uniwersytet po raz
                        trzeci
                        został
                        laureatem konkursu Najwyższa Jakość Quality International 2012 i otrzymał wyróżnienie – Złote
                        Godło
                        w
                        kategorii
                        QI Services. Uczelnia realizuje liczne projekty współfinansowane z funduszy strukturalnych.
                    </p>
                    <a href="http://www.up.wroc.pl">www.up.wroc.pl</a>
                    </article>

                    <article>
                    <h4>Politechnika Łódzka</h4>

                    <p>publiczna uczelnia wyższa, która zatrudnia 300 profesorów i ponad   1500 nauczycieli
                        akademickich,  
                        kształci
                        obecnie ponad 20 tys. studentów na 9 wydziałach. W rankingu „Perspektyw”   zajmuje 4 miejsce w
                        Polsce
                        wśród
                        uczelni technicznych. Politechnika Łódzka prowadzi badania w wielu dziedzinach nauki i
                        technologii.
                        Uczelnia
                        realizuje liczne projekty współfinansowane z funduszy strukturalnych w ramach trzech programów
                        operacyjnych:
                        POKL, POIG, POIiŚ.
                    </p>
                    <a href="http://www.p.lodz.pl">www.p.lodz.pl</a>
                    </article>
                </div>

            </div>

            {% include 'front/footer.html' %}
        </div>
    </div>

{% endblock %}
