{% extends "front/base_front_with_navbar.html" %}
{% load staticfiles %}
{% block container %}
    <div id="template">
        <div class="theme fullscreen">
            <div class="content terms-template-content">

                <div class="container">
                    <h2>Rules</h2>

                    <div>
                        <p>The E-podręczniki LITE mobile application created for the needs of the epodreczniki.pl
                            website administered by the Poznań Supercomputing and Networking Centre affiliated with the
                            Institute of Bioorganic Chemistry of the Polish Academy of Sciences provides general
                            education e-textbooks and supplementary teaching materials developed in the e-textbook
                            project co-financed by the European Social Fund of the European Union. </p>

                        <p class="highlighted-item">Note that during the use of our website, our servers will automatically gather the
                            following information on users and their system activity:</p>
                        <ul>
                            <li><span class="highlighted-item">log files</span> containing IP addresses, date and time of use, lists of visited system
                                pages; the log files contain no personal data;
                            </li>
                            <li><span class="highlighted-item">personal settings</span> which enable the recognition of the application settings
                                preferred by a given user; their downloading by users depends on individual application
                                settings;
                            </li>
                        </ul>
                        <p>The log files and settings are used to generate statistics which help define application user
                            profiles and their application-related needs. The data is used to enrich application
                            content, improve its functionality, monitor and administer website traffic and for
                            scientific research. </p>

                        <p>When using personal settings for the above purposes, we do not identify individual users
                            based on the information stored in system settings. </p>

                        <p>Any data on the epodreczniki.pl users held on the website of the Supercomputing and
                            Networking Centre is protected from unauthorized access. No such data will be disclosed to
                            any third parties. As no logging in is required to access the application, no personal data
                            needs to be given. The application is accessible to the general public. </p>

                        <p>All content posted on epodreczniki.pl and available through the mobile application has been
                            published in keeping with the Resolution of the Council of Ministers of 3 April 2012 on the
                            governmental student and teacher competence programme The Digital School concerning the use
                            of ICT technologies which provides for any educational resources developed within the
                            framework of the Project to be open, i.e. accessible freely and at no charge from any place
                            and at any time, without restrictions or technical protections and for any purpose. For
                            resources which meet the definition of works and which are subject to derivative rights,
                            resource openness refers to resource dissemination under a Creative Commons Author
                            Recognition (CC-BY 3.0) license or under another free license, allowing for the unlimited,
                            free and non-exclusive use of resources and any of their elaborations for commercial or
                            non-commercial purposes. </p>

                        <p class="highlighted-item">None of the data that has been automatically gathered can be altered or removed.
                            By using the epodreczniki.pl application, you consent to comply with the above terms and
                            conditions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
