{% extends "front/base_front_with_navbar.html" %}
{% load staticfiles %}
{% block container %}
    <div id="template">
        <div class="theme fullscreen">
            <div class="content terms-template-content">

                <div class="container">
                    <p class="support">For support please contact us at: <a
                            href="mailto:mobile@epodreczniki.pl">mobile@epodreczniki.pl</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
